version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: ips-forum-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: ips_forum
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
